.venv/
.vscode/
logs/
target/
.env
.user.yml
package-lock.yml
*.parquet
*.duckdb
dbt_packages/
__pycache__/
*.duckdb
*.parquet
*.wal
.gitignore
python_database_test.py
python_test.py
python_testing.py
